@font-face {
  font-family: 'ButlerMedium';
  src: url('/fonts/Butler/butler_medium-webfont.woff2') format('woff2'),
       url('/fonts/Butler/butler_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ButlerRegular';
  src: url('/fonts/Butler/butler_regular-webfont.woff2') format('woff2'),
       url('/fonts/Butler/butler_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
