section#header{
  height: 100vh;
  backgroundRepeat: no-repeat;
  backgroundPosition: right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

#header h2{
  margin: 0; padding: 0;
  font-family: "ButlerRegular", serif;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 7vh;
}
#header h2::selection{
  background: white;
  opacity: 1;
}

#header img.logo{
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

#header img.scroll-arrow{
  display: block;
  width: 100%;
  max-width: 50px;
  margin: 0 auto;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #header h2{
    font-size: 4vw;
  }
  #header img.logo{
    max-width: 60vw;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #header img.logo{
    max-width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
