section#header{
  height: 100vh;
  backgroundRepeat: no-repeat;
  backgroundPosition: right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: white;
  position: relative;

}

#header h2{
  margin: 0; padding: 0;
  font-family: "ButlerMedium", serif;
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#header img.logo{
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
