ul.nav{
  list-style: none;
  width: 100%;
  border-bottom: 1px solid white;
  position: absolute;
  top: 0;
  margin: 0;
}
  ul.nav li{
    display: inline-block;
    margin: 0;
  }
    ul.nav li a{
      padding: 15px 25px;
      font-family: "Courier New", serif;
      font-weight: bold;
      font-size: 15px;
      color: white;
      -o-transition:.25s;
      -ms-transition:.25s;
      -moz-transition:.25s;
      -webkit-transition:.25s;
      transition:.25s;
      margin: 0;
      border-left: 1px solid white;
    }
    ul.nav li a:link{
      color: white;
    }
    ul.nav li a:visited{
      background: transparent;
    }
    ul.nav li a:hover{
      color: #040505;
    }
    ul.nav li a:active{
      color: white;
      background: transparent;
    }
    ul.nav li a:focus{
      color: white;
      background: transparent;
    }
    ul.nav li:last-child a{
      border-right: 1px solid white;
    }

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  ul.nav li a{
    font-size: 12px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  ul.nav{
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
