.border-button{
  display: inline-block;
  background: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  font-family: "Courier New", serif;
  font-weight: bold;
  text-decoration: none;
  color: #d0992a;
  border: 1px solid #d0992a;
  font-size: 18px;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

.border-button:link, .border-button:visited, .border-button:active{
  background: transparent;
  color: #d0992a;
}

.border-button:hover{
  text-decoration: none;
  background: #d0992a;
  color: #040505;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.flex-half{
  width: 50%;
}

.flex-half-image{
  background: #222;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .flex-half{
    width: 100%;
  }
  .flex-half-image{
    display: none;
  }

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .border-button{
    font-size: 16px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  .border-button{
    font-size: 14px;
  }

}
